
  <div class="title-container">
<ng-template [ngIf]="friends.length == 0">
    <div><h1 style="color: #FFD740; padding-left: 20px;">You have no friends lol</h1></div>
    </ng-template>
  </div>

    <div class="title-container">
<h1 style="color: #FFD740; padding-left: 20px; text-align: center;"  *ngIf="friends.length > 0">Friends</h1>
</div>


<mat-card style="background-color: #FFD740;" class="user" *ngFor="let friend of friends">
    <mat-card-content>{{friend.name}} Family</mat-card-content>
    <div class="friend-recipes-container" style="display: flex; justify-content: flex-end;">
    <button (click)='main.openFriendRecipes(friend.friendId)' mat-flat-button color="primary" >View Recipes</button>
    </div>
    </mat-card>