
<div class="title-container">
    <h1 style="color: #FFD740; padding-left: 20px; text-align: center;"> Edit Step</h1>
</div>


<div class="container">
    <div class="grid">
        <mat-form-field  appearance="fill" style="width:433px;">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="step.editedStep.description" name="name" placeholder="Name"  required>
            </textarea>
        </mat-form-field>
        <span style="margin-left: 10px;"></span>
        <mat-form-field appearance="fill">
            <mat-label>Ingredient</mat-label>
            <textarea matInput  [(ngModel)]="step.editedStep.itemName" name="ingredient" placeholder="ingredient" required readonly>
            </textarea>
  </mat-form-field>  
        <mat-form-field  appearance="fill" style="width:433px;">
            <mat-label>Weight(Stored in Grams)</mat-label>
            <textarea matInput [(ngModel)]="step.editedStep.itemWeight" name="weight" placeholder="Weight(Stored in Grams)"  required>
            </textarea>
        </mat-form-field>
        <mat-form-field appearance="fill" style="width: 120px;" >
                <mat-label>Unit</mat-label>
                <mat-select [(ngModel)]="item.unit">
                    <mat-option value=0>N/A</mat-option>
                    <mat-option value=1>Gram</mat-option>
                    <mat-option value=5>Tsp</mat-option>
                    <mat-option value=14>Tbsp </mat-option>
                    <mat-option value=28>Ounce</mat-option>
                    <mat-option value=57>1/4 Cup</mat-option>
                    <mat-option value=113>1/2 Cup</mat-option>
                    <mat-option value=227>Cup</mat-option>    
                </mat-select>
        </mat-form-field>
        <div class="submit-button-container">
            <button (click)="step.validateStep(step.editedStep.description, step.editedStep.itemId , step.editedStep.itemWeight , item.unit)" mat-raised-button color="accent" type="submit">Submit</button>
        </div>
    </div>
   
</div>

